<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/style.css">
<title>Car <%= car.name %></title>
</head>

<body>
    <%- include("navbar.ejs", { page: "car" }) %>
    <% if (error) { %>
    <div>
        <h1><%=error%></h1>
    </div>
    <% } else { %>
    <div class="card">
        <h1>Found car!</h1>
        <p>Name: <%=car.name%></p>
        <p>Price: <%=car.price%></p>
    </div>
    <% } %>

</body>
</html>